.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--bgc);
}

.taskbar-item {
    background-color: var(--bgc);
    cursor: pointer;
    padding-top: 1px;
}

.taskbar-item {
    margin-left: -10px;
}

.taskbar-item span {
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    padding-right: 2px;
    user-select: none;
}

.taskbar-item span img {
    transform: translate(-2px, 1px);
    -webkit-user-drag: none;
}

.taskbar-item img {
    transform: translateY(4px);
}

.taskbar-item:first-of-type {
    margin-left: 3px;
}

.taskbar-item:first-of-type span {
    border-left: solid white 1px;
    padding-left: 4px;
}

.taskbar-item:first-of-type::before {
    display: none;
}

.taskbar-item::before {
    content: url('@/assets/ui/extra/divider.png');
    transform: translateY(4px);
    display: inline-block;
}

.taskbar-item.active  {
    filter: sepia(52%) saturate(5330%) hue-rotate(80deg) brightness(97%) contrast(102%);
    background: transparent;
}

.spacer {
    flex-grow: 1;
    background-color: var(--bgc);
}