.window {
	position: fixed;
}

.window-handle .close-icon {
	cursor: pointer;
}

.window-handle {
	user-select: none;
	background: url('@/assets/ui/window/titlebar_texture.png');
	height: 11px;
	border: solid 1px var(--fgc);
	border-bottom: none;
	display: flex;
}

.window-handle span {
	flex-grow: 1;
}

.window-handle img {
	-webkit-user-drag: none;
	user-select: none;
}


/* closing animation */
.window {
	opacity: 1;
}

.window.closing {
	transition: opacity var(--fadeDuration) ease-in;
	opacity: 0;
}