.window {
	position: fixed;
	display: flex;
	flex-direction: column;
	max-height: 600px;
}

.window-handle .close-icon {
	cursor: pointer;
}

.window-handle {
	user-select: none;
	background: url('@/assets/ui/window/titlebar_texture.png');
	height: 11px;
	border: solid 1px var(--fgc);
	border-bottom: none;
	display: flex;
}

.window-handle span {
	flex-grow: 1;
}

.window-handle img {
	-webkit-user-drag: none;
	user-select: none;
}


/* closing animation */
.window {
	opacity: 1;
	animation: fadeIn forwards 0.25s;
}

@keyframes fadeIn {
	0% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(1);
	}
}

.window.closing {
	transition: opacity var(--fadeDuration) ease-in;
	opacity: 0;
}