/* Images should be 500x500px */
.overlayimage-container img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
}

.overlayimage-container {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-image {
    animation: fadeAnim 1s ease forwards;
    opacity: 0;
}

@keyframes fadeAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* .fade-image::before {
    content: url('@/assets/ui/extra/fade_in.gif');
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeAnim 900ms linear forwards;
    visibility: visible;
}

@keyframes fadeAnim {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
} */