@font-face {
    font-family: 'main';
    src: url('./assets/CompaqThin.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-family: 'main';
    scrollbar-width: thin;
    scrollbar-color: white black;
    background-size: 248px;
    background-attachment: fixed;
}

img {
    image-rendering: pixelated;
}

.cr {
    color: rgb(175, 11, 11);
}

hr {
    border: none;
    height: 1px;
    background: white;
    margin: 4px 0;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    color: white;
    background-color: white;
}

::selection {
    background: hsl(0deg 0% 100% / 26%);
}
 
::-moz-selection {
	background: hsl(0deg 0% 100% / 26%);
	color: white;
}