.battle-status-term {
	background-color: var(--bgc);
	border: solid var(--fgc) 1px;
	color: var(--fgc);
	width: 295px;
	text-align: left;
	height: 165px;
	overflow: auto;
}

.titlebar {
	width: 100%;
	height: 4px;
	border-bottom: solid var(--fgc) 1px;
	position: sticky;
	top: 0;
	background: var(--bgc);
}

.titlebar img {
	display: block;
}

.status-output {
	padding: 4px;
}